# Combining and exporting data - part 2

### Content list

#### 01. Importing data from pickle and cvs files
#### 02. Merging 'orders_products_combined' with 'df_prods'
#### 03. Exporting merged dataframe to pickle

In [3]:
#import libraries
import pandas as pd
import numpy as np
import os

### 01. Importing data from pickle and cvs files

In [4]:
path= r'C:\Users\isobr\Box\02122022Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\isobr\\Box\\02122022Instacart Basket Analysis'

In [7]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [8]:
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [11]:
#checking the shape
df_orders_products_combined.shape

(32434489, 12)

In [9]:
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'products_checked.csv'), index_col = False)

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods.shape

(49672, 6)

### 02. Merging 'orders_products_combined' with 'df_prods'

In [15]:
#Creating a new df using product_id as the key, using the default inner merge
df_prods_merged = df_prods.merge(df_orders_products_combined, on = 'product_id')

In [17]:
df_prods_merged.shape

(32404859, 17)

In [18]:
#checking that the merge is a full match
df_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,7.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,11,1,both

In [19]:
#counting values of the merge column in the df_merged_large, but because we used default inner join, the values are always both
df_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### 03. Exporting merged dataframe to pickle

In [20]:
# Export data to pkl
df_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_merged.pkl'))