# Combining and exporting data - Part 1

### Content list

#### 01. Importing data
#### 02. Merging dataframes (df_ords and df_ords_prior)
#### 03. Exporting data to Pickle

In [21]:
#import libraries
import pandas as pd
import numpy as np
import os

### 01. Importing data

In [22]:
path= r'C:\Users\isobr\Box\02122022Instacart Basket Analysis'

In [23]:
path

'C:\\Users\\isobr\\Box\\02122022Instacart Basket Analysis'

In [24]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'orders_checked.csv'), index_col = False)

In [25]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,7.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [26]:
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'products.csv'), index_col = False)

In [28]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [30]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'order_products_prior.csv'), index_col = False)

In [31]:
# when taking a look at the df, I can see there is a key to link to the df_ords and a key to link to the df_prods
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
df_ords_prior.shape

(32434489, 4)

In [34]:
df_ords.shape

(3421083, 8)

### 02. Merging dataframes (df_ords and df_ords_prior)

In [35]:
#Creating a new df that contains the combined df_ords and def_ords_prior
# Using indicator 'true' to have a new column that indicates wether merged data is from both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [36]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [41]:
# the new df shows there is a full match (i.e., column _merge)
#counting values of the merge column in the df_merged_large, but because we used default inner join, the values are always both
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### 03. Exporting data to Pickle

In [42]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_combined.pkl'))